<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatrooms</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
      <!-- Navigation bar -->
      <header>
        <nav>
          <a class="logo" href="/">Portal</a>
          <ul class="nav__links">
            <li><a href="/">home.</a></li>
            <li><a href="/chatrooms">chatrooms.</a></li>
            <li><a href="/contribute">contribute.</a></li>
            <li><a href="/about">about.</a></li>
            <li><a href="/feedback">feedback.</a></li>
          </ul>
        </nav>
        <!-- <a href = "#"><button>start chatting now!</button></a> -->
      </header>
          <p class="heading">Chatrooms</p>

          <!-- chat-rooms-->
    
            <div className= "row position animate__animated animate__backInUp">
            <div class="col-sm-2">
            <div class="card card-position" style="width:18rem">
                <Image src="https://img.freepik.com/premium-vector/communication-dialog-conversation-online-forum_333239-88.jpg" class="card-img-top" alt="" width={2000} height={1400}/>
                <div class="card-body">
                <h5 class="card-title">Schedule Online Meetings</h5>
                </div>
            </div>
            </div>
    
            <div class="col-sm-2">
            <div class="card card-position" style="width:18rem">
                <Image src="https://img.freepik.com/free-vector/group-therapy-illustrated_23-2148654878.jpg?w=826&t=st=1662909766~exp=1662910366~hmac=aa4e26cd9554572b1f16e19867a189c257f51b70b093c33b9fef72f714870a3c" class="card-img-top" alt="..." width={2000} height={1400}/>
                <div class="card-body">
                <h5 class="card-title">Group Sessions</h5>
                </div>
            </div>
            </div>
    
            <div class="col-sm-2">
            <div class="card card-position" style="width:18rem">
                <Image src="https://img.freepik.com/free-vector/woman-practicing-yoga-mountains-female-character-enjoying-nature-doing-sport-mat-flat-vector-illustration-healthy-lifestyle-meditation-concept-banner-website-design-landing-web-page_74855-21104.jpg?w=1380&t=st=1662910019~exp=1662910619~hmac=67cc135d8ff95f47339a801054f2399b145e59e4a5d5ef4552dbdebd15458a29" class="card-img-top" alt="" width={2000} height={1400}/>
                <div class="card-body">
                <h5 class="card-title">Ask for help</h5>
                </div>
            </div>
            </div>
    
            <div class="col-sm-2">
            <div class="card card-position" style="width:18rem">
                <Image src="https://cdn.dribbble.com/users/5286978/screenshots/11351248/adspur-_mental_health-01-02.png" class="card-img-top" alt="..." width={2000} height={1400}/>
                <div class="card-body">
                <h5 class="card-title">Educate Yourself</h5>
                </div>
            </div>
            </div>
            </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>